.title{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    text-decoration: dashed;
    letter-spacing:0cap;
    text-transform:uppercase;
    font-family: 'Georgia', serif;
    margin-left: 2%;
    margin-top: 5%;
}

.soustitre{
    color: rgb(50, 42, 42);
    text-transform: uppercase;
    font-family: 'Georgia', serif;
    font-weight: 600;
    letter-spacing: 0.5;
    margin-left: 3%;
    margin-top: 18%;
}

.texte{
    font-family: 'Georgia', serif;
    line-height: 1.2;
    color: #413f3f;
    letter-spacing: 0em;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    margin-top: 10%;
    margin-bottom: 10%;
}

.texte_blanc {
    font-family: 'Georgia', serif;
    line-height: 1.2;
    color: #ffffff;
    letter-spacing: 0em;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    margin-top: 10%;
    margin-bottom: 10%;
}

.soustitre_blanc {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Georgia', serif;
    font-weight: 600;
    letter-spacing: 0.5;
    margin-left: 5px;
    margin-top: 18%;

}