.button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.1s ease;
}

.button:hover {
    background-color: red;
}


.button_blanc {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.1s ease;
    margin-left: 135px;
}

.button_blanc:hover {
    background-color: red;
}

.button_film {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.1s ease;
    margin-left: 250px;
}

.button:hover {
    background-color: red;
}