
.image_logopartenaire{
 width: 50%;
 height: auto;
 margin-left: 25%;
 margin-right: 23%;
 
}

.rubriquepartenaire {
    background-color: #ffffff;
    padding: 5px;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.rubriquepartenaire_p2 {
    background-color: #AE1F25;
    padding: 5px;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    margin-bottom: 6%;
    margin-left: 10%;
    margin-right: 10%;
}


.image_logopartenaire2 {
    width: 100%;
    height: auto;
    margin-right: 23%;
    margin-top: -3%;
    margin-bottom: -6%;

}

.rubriquepartenaire3 {
    background-color: #000000;
    padding: 5px;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}