.image_film {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top: 11px solid #1b1a1a;
    border-bottom: 11px solid #1b1a1a;
}

.p2_film {
    background-color:#AE1F25;
    margin-top: 1%;
}

.p1_film {
    background-color: rgb(47, 45, 45);
}