
.text-container {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1;

}

.film_decale {
    background-color: #000;
    display: flex;
    align-items: flex-start;
}

.image_film {
    width: 50%;
    height: 650px;
    object-fit: cover;
    position: relative;
    margin-top: 10%;
    margin-bottom:10%;
}

.p2_film {
    background-color:#AE1F25;
}
