
.text-container {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.film_decale {
    background-color: #000;
    display: flex;
    align-items: flex-start;
}

.image_film {
    width: 50%;
    height: 620px;
    object-fit: cover;
}

.texte_container {
    flex: 1;
}

.p2_film {
    background-color:#AE1F25;
}

.carre-couleur_rouge{
    width: 100%;
        height: 20px;
        background-color: #AE1F25;
        margin: 0;
        padding: 0;
}
