.carousel {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(74, 69, 69),rgb(0, 0, 0));
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 0;
    padding: 0;
    width: 100%;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding: 20px;
}
.carousel-slide-en {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding: 20px;
}

.image_galerie {
    width: 100%;
    height: auto;
    border-radius: 6px;
    
}

.carousel-buttons {
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.carousel-button {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.carousel-button.prev {
    position: absolute;
    left: 10px;
}

.carousel-button.next {
    position: absolute;
    right: 10px;
}

.vid {
    width: 100%;
}
