.p1_accueil {
background-color:rgb(47, 45, 45);
border-radius: 3px;
}

.image_briquet {
    max-width: 50%;
    height: auto;
    object-fit: contain;
    margin-left: 25%;
    margin-top: 6%;
    margin-bottom: 6%;
}

.p2_accueil{
background-color:rgb(47, 45, 45);
}
    
.image_cadre {
    max-width: 100%;    
    height: auto;
    border-bottom: 4px solid rgb(0, 0, 0);
    border-top: 4px solid rgb(0, 0, 0);
    display: block;        
}

