.image_livre {
    width: 90%;
    margin-left: 4.3%;
    margin-top: 5%;
}

.synopsis{
background-color: #AE1F25;
margin-top: 1%;
}

.image_autrice {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.intro {
background-color: rgb(47, 45, 45);
}

.p2_livre {
background-color: rgb(47, 45, 45);
}