.image_livre {
    width: 100%;
}

.synopsis{
    background:linear-gradient(to bottom, rgb(50, 30, 30), #2c1d1d);
}

.p2_livre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.image_autrice {
    width: 50%;
    height: 620px;
    object-fit: cover;
}

.text-container {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}